<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Simple CRM - Customer Management made Simple</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Simple CRM</a>
        </div>

        <div class="col-sm-2 text-sm-right pb-2 ">
            <a class="btn btn-primary btn-outline-primary d-block d-sm-inline-block" href="/logout">Log Out</a>
        </div>

    </div>
</nav>
<div class="container mb-2" style="margin-top:80px">
    <div>
        <h1>xCRM</h1>
        <h2>Manage your Databases</h2>
    </div>

    <div class="card-deck">
        <div class="card text-white bg-info mb-6">
            <img alt="Card image cap" class="card-img-top"
                 src="https://media.istockphoto.com/photos/couple-preparing-to-sign-a-contract-of-sale-picture-id1314879006?k=20&m=1314879006&s=612x612&w=0&h=Q7-i-EKPtTOeCSyJRiY1lpt7Et43-9tXVJYPMVPubvs=">
            <div class="card-body">
                <h5 class="card-title"> Customers</h5>
                <p class="mt-5"><a class="btn btn-primary btn-block" href="/customer/display">Manage Customers</a></p>
            </div>
        </div>
        <div class="card text-white bg-warning -mb-6">
            <img alt="Card image cap" class="card-img-top"
                 src="https://media.istockphoto.com/photos/discussing-ways-to-utilise-the-factory-floor-its-full-capacity-picture-id1304745943?k=20&m=1304745943&s=612x612&w=0&h=WmdPeu2G3ZLIE6KgU2YJqAjT8fAniF8w0X7DNYmoIWc=">
            <div class="card-body">
                <h5 class="card-title"> Products</h5>
                <p class="mt-5"><a class="btn btn-primary btn-block" href="/product/display">Manage Products</a></p>
            </div>
        </div>
    </div>

    <div class="card-deck mt-4 ">
        <div class="card text-white bg-danger -mb-6">
            <img alt="Card image cap" class="card-img-top"
                 src="https://media.istockphoto.com/photos/modern-facade-of-clothes-store-with-empty-signboard-3d-illustration-picture-id1311627464?b=1&k=20&m=1311627464&s=170667a&w=0&h=ihgCUGACXaM7qzbO23o9dAlZhCkyxI8arzetB9qcwRA="
                 style="width:100%; height:50%">
            <div class="card-body">
                <h5 class="card-title">Stores</h5>
                <p class="mt-5"><a class="btn btn-primary btn-block" href="/store/display">Manage Stores</a></p>
            </div>

        </div>
        <div class="card text-white bg-success -mb-6">
            <img alt="Card image cap" class="card-img-top"
                 src="https://media.istockphoto.com/photos/quality-control-certification-checked-garantee-of-standard-picture-id1199243271?k=20&m=1199243271&s=612x612&w=0&h=oE34ZQSkhh9_Us4ps7PxJHRCPL67JC4mL403UFYuwVA="
                 style="width:100%; height:50%">
            <div class="card-body">
                <h5 class="card-title">Orders</h5>
                <p class="mt-5"><a class="btn btn-primary btn-block" href="/order/display">Manage Orders</a></p></div>

        </div>
    </div>
    <div class="mb-5 text-center">
        <h1>Your Future With Us</h1>
    </div>

</div>
<footer class="footer mt-0 navbar-dark bg-dark fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p class="text-center text-muted">&copy;
                    <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span>
                </p>
            </div>
        </div>
    </div>
</footer>
<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
</body>
</html>